<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normalUser/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Dashboard</title>
</head>
<body>

	<section>

		<h1>This is your personal information..</h1>
		<div class="card mr-3 ml-3">

			<div class="card-body">

				<div class="container text-center">

			<img src="" style="width: 200px; height: 200px"
						th:src="@{/img/profile.png}" alt="profile photo" />
						
						<h2 th:text= "${user.name}"> </h2>
					
					<table class="table table-sm table-dark">
						<thead>
					
							<tr >
								<th scope="col">#ID</th>
								<th scope="col"> <span th:text="${user.id}"></span>
								</th>
							</tr>
						</thead>
						<tbody>
					
							<tr class="table-primary">
								<th scope="row">Email</th>
								<td th:text="${user.username}"></td>
							</tr>
							
							<tr class="table-primary">
								<th scope="row">Role</th>
								<td th:text="${user.role}"></td>
							</tr>
							<!--  `s``` -->
							<tr class="table-success">
								<th scope="row">About</th>
								<td th:text="${user.about}"></td>
							</tr>
							
							
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</section>
</body>

</html>