<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Settings</title>
</head>
<body>

	<section>
		<br> <br>
		<div class="container">
			<div class="row">

				<div class="col-md-6 offset-md-3">
				
					<!------------ Message box------------------>
					<div th:if="${session.message}" class="container">

						<div class="alert text-center"
							th:classappend="${'alert-'+session.message.type}" role="alert">
							<span th:text="${session.message.content}"> </span>
						</div>
						<th:block th:text="${#session.removeAttribute('message')}">
						</th:block>
					</div>



					<div class="my-card">

						<form action="" th:action="@{/addNewPassword}" method="post">

							<input type="hidden" name="userId" th:value="${userId}" />

							<div class="form-group">
								<h3 class="text-center">!! Add New Password !!!!!</h3>
								<br>
							</div>
							<br>

							<div class="form-group">
								<label for="name">New Password</label> <input required
									type="text" class="form-control" id="name-field"
									pattern=".{5,}" title="5 characters minimum" name="newPassword">
							</div>
							<br>


							<div class="form-group">
								<label for="name">Re-enter New Password::</label> <input
									pattern=".{5,}" required title="5 characters minimum"
									type="text" class="form-control" id="name-field"
									name="confirmPassword">
							</div>
							<br>

							<div class="container text-center ">
								<button type="submit" class="btn btn-primary">Submit:</button>
							</div>

						</form>
					</div>

				</div>
			</div>
		</div>
	</section>
</body>

</html>